
<div data-role="page" data-theme="a" >
<div data-role="panel" id="sidepanel" data-display="overlay">
    <!-- panel content goes here -->
    <h1 class="">Settings</h1>
    <ul>
		App
		<li><a href="search.html" >Search</a></li>
		<li><a href="popups-list.html">Popups list</a></li>
		User
		<li><a href="user/sign-up.html">Popups list</a></li>
		<li><a href="user/login.html" >Search</a></li>
		<li><a href="user/user-profile.html">Popups list</a></li>
		<li><a href="user/settings.html">Settings</a></li>
		<li><a href="user/favorites.html">Favorite</a></li>
		Vendor
		<li><a href="vendor/vendor-sign-up.html">Sign Up</a></li>
		<li><a href="vendor/vendor-login.html" >Login</a></li>
		<li><a href="vendor/vendor-profile.html" >Profile</a></li>
		<li><a href="user/settings.html">Settings</a></li>
		<li><a href="vendor/list-a-popup.html" >List a Popup</a></li>
    </ul>
</div><!-- /panel -->
<!-- HEADER -->
	<div data-role="header" data-position="inline" >
		<a class="button button-outline icon-right ion-navicon button-balanced ion-settings" href="#mypanel" data-rel="close" style="position: relative; margin: 0; vertical-align: top; margin: 3px 3px 0 -31px;"></a>
		<img class="popuplogo" src="../gallery/logos/POPUPBLVD-logo-wht.png" alt="popup blvd" class="popupblvd-logo" />
	</div>
<!-- -- -->

<!--CONTENT-->
<div class="content" data-role="content" data-theme="a" >
	<div class="rwd-example">
		<div class="list card">

			<div class="item item-avatar">
				<img src="avatar.jpg">
				<h2>Pretty Hate Machine</h2>
				<p>Nine Inch Nails</p>
			</div>

			<div class="item item-image">
				<img src="../gallery/images/pop-shop-atl.png" >
			</div>

			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-music-note"></i>
				Start listening
			</a>

		</div>
	</div>
	<div class="list card">

		<div class="item item-avatar">
			<img src="avatar.jpg">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</div>

		<div class="item item-image">
			<img src="../gallery/images/pop-shop-atl.png" >
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-music-note"></i>
			Start listening
		</a>

	</div>
	<div class="list card">

		<div class="item item-avatar">
			<img src="avatar.jpg">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</div>

		<div class="item item-image">
			<img src="../gallery/images/pop-shop-atl.png" >
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-music-note"></i>
			Start listening
		</a>

	</div>
	<div class="list card">

		<div class="item item-avatar">
			<img src="avatar.jpg">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</div>

		<div class="item item-image">
			<img src="../gallery/images/pop-shop-atl.png" >
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-music-note"></i>
			Start listening
		</a>

	</div>
</div>

