


<div data-role="page" data-theme="a" >
    <div data-role="panel" id="mypanel" data-display="overlay">
        <!-- panel content goes here -->
        <h6 class="">em57@njit.edu</h6>
        <ul>
            <li><a href="/" >Main</a></li>
            App
            <li><a href="../search.html" >Search</a></li>
            <li><a href="../popups-list.html">Popups list</a></li>
            User
            <li><a href="sign-up.html">Sign Up</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="user-profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="favorites.html">Favorite</a></li>

        </ul>
    </div><!-- /panel -->
    <!-- HEADER -->
    <div data-role="header" data-position="inline" >
        <a class="button button-outline icon-right ion-navicon button-balanced ion-settings" href="#mypanel" data-rel="close" style="position: relative; margin: 0; vertical-align: top; margin: 3px 3px 0 -31px;"></a>
        <img class="popuplogo" src="../../gallery/logos/POPUPBLVD-logo-wht.png" alt="popup blvd" class="popupblvd-logo" />
    </div>
    <!-- -- -->

    <!--CONTENT-->
    <div class="content" data-role="content" data-theme="a" >
        <form class="ui-filterable">
            <input id="filterableInput" data-type="search">
        </form>

        <ul data-role="listview" data-filter="true" data-input="#filterableInput">
            <li>
                <img src="http://placehold.it/300x300">

            </li>



        </ul>

    </div>
</div>
